After importing new data from https://datasets.imdbws.com/. We will review each data and clean it for our purpose.

In [1]:
# Import required Libraries

import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# Import all the IMDB files into DataFrame and review table shapes
imdbTitleBasics = pd.read_csv('Data/title.basics.tsv',  delimiter='\t') 
imdbTitleAkas = pd.read_csv('Data/title.akas.tsv', delimiter='\t')
imdbTitleCrew = pd.read_csv('Data/title.crew.tsv', delimiter='\t') # not reqiured as the info is also in imdbTitlePrincipals
imdbTitlePrincipals = pd.read_csv('Data/title.principals.tsv', delimiter='\t')
imdbTitleRatings = pd.read_csv('Data/title.ratings.tsv', delimiter='\t')
imdbNameBasics = pd.read_csv('Data/name.basics.tsv', delimiter='\t') 

print('imdbTitleBasics''\n', imdbTitleBasics.head(),'\n', imdbTitleBasics.shape,'\n')  
print('imdbTitleAkas''\n', imdbTitleAkas.head(),'\n', imdbTitleAkas.shape,'\n')
print('imdbTitleCrew''\n', imdbTitleCrew.head(),'\n', imdbTitleCrew.shape,'\n')
print('imdbTitlePrincipals''\n', imdbTitlePrincipals.head(),'\n', imdbTitlePrincipals.shape,'\n')
print('imdbTitleRatings''\n', imdbTitleRatings.head(),'\n', imdbTitleRatings.shape,'\n')
print('imdbNameBasics''\n', imdbNameBasics.head(),'\n', imdbNameBasics.shape,'\n')

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

imdbTitleBasics
       tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult startYear endYear runtimeMinutes genres
0        0      1894      \N              1     \N
1        0      1892      \N              5     \N
2        0      1892      \N              4     \N
3        0      1892      \N             12     \N
4        0      1893      \N              1     \N
 (6974100, 9)

imdbTitleAkas
      titleId  ordering                      title region language  \
0  tt0000001         1                 Карменсіта     UA       \N
1  tt0000001         2                 Carmencita     DE       \N
2  tt0000001         3  Carmencita - spanyol tánc     HU       \N
3  tt0000001         4                 Καρμενσίτα     GR       \N
4  tt0000001         5                 Карменсита     RU       \N

         types     attributes isOriginalTitle
0  imdbDisplay             \N               0
1           \N  literal title               0
2  imdbDisplay             \N               0
3  imdbDisplay             \N               0
4  imdbDisplay             \N               0
 (22295047, 8)

imdbTitleCrew
       tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N
 (6974100, 3)

imdbTitlePrincipals
       tconst  ordering     nconst         category                      job  \
0  tt0000001         1  nm1588970             self                       \N
1  tt0000001         2  nm0005690         director                       \N
2  tt0000001         3  nm0374658  cinematographer  director of photography
3  tt0000002         1  nm0721526         director                       \N
4  tt0000002         2  nm1335271         composer                       \N

  characters
0   ["Self"]
1         \N
2         \N
3         \N
4         \N
 (40116932, 6)

imdbTitleRatings
       tconst  averageRating  numVotes
0  tt0000001            5.6      1626
1  tt0000002            6.1       196
2  tt0000003            6.5      1315
3  tt0000004            6.2       119
4  tt0000005            6.1      2097
 (1053231, 3)

imdbNameBasics
       nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire        \N        \N
1  nm0000002    Lauren Bacall        \N        \N
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi        \N        \N
4  nm0000005   Ingmar Bergman        \N        \N

                     primaryProfession  \
0       soundtrack,actor,miscellaneous
1                   actress,soundtrack
2  actress,soundtrack,music_department
3              actor,soundtrack,writer
4                writer,director,actor

                            knownForTitles
0  tt0043044,tt0053137,tt0050419,tt0072308
1  tt0071877,tt0038355,tt0117057,tt0037382
2  tt0049189,tt0057345,tt0059956,tt0054452
3  tt0072562,tt0080455,tt0078723,tt0077975
4  tt0050986,tt0060827,tt0050976,tt0083922
 (10218302, 6)

In [3]:
# Review Dfs 
print(imdbTitleBasics.titleType.unique())
print(imdbTitleBasics.startYear.unique())

['short' 'movie' 'tvMovie' 'tvSeries' 'tvEpisode' 'tvShort' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame']
[1894 1892 1893 1895 1896 1898 1897 1900 1899 1901 1904 1903 1902 1905
 1912 1907 1906 1908 1910 1909 1914 1911 1913 1915 1919 1916 1917 1918
 1936 1925 1920 1922 1921 1923 1924 1928 1926 1927 1929 1993 1935 2014
 1930 2004 1942 1934 1931 1932 1939 1937 1933 1950 1938 1951 1945 1946
 1940 1944 1949 1947 1941 1952 1970 1957 1943 1959 1948 2001 1953 1954
 1965 1983 1980 1973 1961 1995 1955 1962 1958 1956 1960 1964 1967 1968
 1963 1969 1985 1971 1972 1966 1976 1990 2020 1986 1979 1987 1974 1981
 1988 1975 1978 1977 2010 1989 '1972' '1971' '1970' '1967' '1973' '1974'
 '1976' '1969' '1968' '1985' '\\N' '1981' '1977' '1980' '1986' '1965'
 '1987' '1975' '1978' '2010' '2018' '1979' '1989' '1988' '1984' '1966'
 '1983' '1995' '1982' '1992' '1991' '1952' '1963' '1961' '1994' '1993'
 '1990' '1964' '1957' '1999' '2005' '1953' '2019' '1998' '1996' '1947'
 '2002' '1997' '1959' '2004' '2017' '2000' '1945' '1956' '2001' '2013'
 '2006' '1955' '2009' '1949' '2008' '2003' '2007' '2020' '1960' '1930'
 '1938' '1929' '1944' '1935' '1962' '1919' '1951' '1914' '1954' '1958'
 '1907' '1942' '1918' '1943' '1921' '1927' '1941' '1939' '1940' '1937'
 '1950' '1946' '1916' '1948' '1934' '1912' '1911' '1926' '1933' '1936'
 '1925' '1932' '1913' '1928' '1917' '1920' '1931' '1895' '1922' '1923'
 '1924' '1900' '1908' '1915' '1910' '1897' '1905' '1909' '1903' '2016'
 '1902' '1901' '1906' '1904' '1898' '1896' '1899' '2012' '2014' '2011'
 '1894' '2015' '1892' '1893' '1891' '2021' '1888' '1890' '2022' '1889'
 '2024' '2023' '2026' '2027' '2025' '1878' '1887' '1874' '2115' '1883'
 '1881' '1885']

In [5]:
# Clean the imdbTitleBasics to select for only movies untill 2020. Also remove rows with missing data
imdbTitleBasics.drop(imdbTitleBasics[imdbTitleBasics['titleType'] != 'movie'].index, inplace = True)
imdbTitleBasics.drop(imdbTitleBasics[imdbTitleBasics['startYear'] == '\\N'].index, inplace = True)
imdbTitleBasics['startYear'] = imdbTitleBasics['startYear'].astype('int32') # convert
imdbTitleBasics.drop(imdbTitleBasics[imdbTitleBasics['startYear'] > 2020].index, inplace = True)

In [212]:
imdbTitleBasics.drop(imdbTitleBasics[imdbTitleBasics['startYear'] < 1980].index, inplace = True)

In [213]:
print(imdbTitleBasics['startYear'].min(), imdbTitleBasics['startYear'].max())
imdbTitleBasics.head()

1980 2020

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes
15494,tt0015724,Dama de noche,Dama de noche,1993,102
16664,tt0016906,Frivolinas,Frivolinas,2014,80
34814,tt0035423,Kate & Leopold,Kate & Leopold,2001,118
35978,tt0036606,"Another Time, Another Place","Another Time, Another Place",1983,118
38022,tt0038687,Let There Be Light,Let There Be Light,1980,58

In [11]:
imdbTitleBasics.drop(imdbTitleBasics[imdbTitleBasics['isAdult'] == 1].index, inplace = True)

In [19]:
imdbTitleBasics.drop(columns=['titleType', 'isAdult', 'genres'], inplace=True)
imdbTitleBasics.drop(columns=['endYear'], inplace=True)

After cleaning the imdbTitleBasics for only movies untill 2020 clean all other IMDB tables using imdbTitleBasics2 'tconst' as index

In [214]:
i1 = imdbTitleAkas.set_index('titleId').index
i2 = imdbTitleBasics.set_index('tconst').index
imdbTitleAkas = imdbTitleAkas[i1.isin(i2)]
print('imdbTitleAkas shape is: ',  imdbTitleAkas.shape, '\n')

i1 = imdbTitlePrincipals.set_index('tconst').index
i2 = imdbTitleBasics.set_index('tconst').index
imdbTitlePrincipals = imdbTitlePrincipals[i1.isin(i2)]
print('imdbTitlePrincipals shape is: ',  imdbTitlePrincipals.shape, '\n')

i1 = imdbTitleRatings.set_index('tconst').index
i2 = imdbTitleBasics.set_index('tconst').index
imdbTitleRatings = imdbTitleRatings[i1.isin(i2)]
print('imdbTitleRatings shape is: ',  imdbTitleRatings.shape, '\n')

imdbTitleAkas shape is:  (1050533, 8)

imdbTitlePrincipals shape is:  (2344223, 6)

imdbTitleRatings shape is:  (176967, 3)

In [17]:
print('imdbTitleBasics shape is: ',  imdbTitleBasics.shape, '\n')

imdbTitleBasics shape is:  (479331, 6)

In [21]:
imdbTitleBasics[~i2.isin(i1)]

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes
803,tt0000812,El blocao Velarde,El blocao Velarde,1909,\N
805,tt0000814,La bocana de Mar Chica,La bocana de Mar Chica,1909,\N
829,tt0000838,A Cultura do Cacau,A Cultura do Cacau,1909,\N
833,tt0000842,De Garraf a Barcelona,De Garraf a Barcelona,1909,\N
837,tt0000846,Un día en Xochimilco,Un día en Xochimilco,1909,\N
...,...,...,...,...,...
6973989,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,57
6974016,tt9916680,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,2007,100
6974028,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,\N
6974039,tt9916730,6 Gunn,6 Gunn,2017,116
6974050,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,49

In [26]:
# imdbTitleRatings2 = pd.read_csv('Data/title.ratings.tsv', delimiter='\t')

imdbTitleRatings2[imdbTitleRatings2['tconst']== 'tt0000812']

Empty DataFrame
Columns: [tconst, averageRating, numVotes]
Index: []

Observation: The "imdbTitleRatings" contain data for international data also

In [135]:
import requests
import matplotlib.pyplot as plt
import time
%matplotlib inline

Scrape a list of movies produced by major production house like Sony, marvel, Disney.

In [211]:
# narrow the list of all the 
# movie_Dlist = soup.find('div', class_= 'lister-list')

def get_name(htmlList):
    indv_movie= htmlList.find_all('h3', class_='lister-item-header')
    nameList = []
    for name in indv_movie:
        nameList.append(name.find('a').text)
    return nameList

def get_gross(htmlList):
    indv_movie= htmlList.find_all('p', class_='sort-num_votes-visible')
    grossList = []
    for name in indv_movie:
        if name.find_all('span', class_='text-muted')[-1].text == 'Gross:':
            grossList.append(int(name.find_all('span')[-1].attrs['data-value'].replace(',', '')))
        else:
            grossList.append(None)
    return grossList


def scrape_imdb(searchThis, company):
    base_url = 'https://www.imdb.com'
    
    search_criteria = searchThis
    actualURL = base_url + search_criteria
    time.sleep(5) # Times was added to avoid getting locked out
    html = requests.get(actualURL)
    print(actualURL)
    soup = BeautifulSoup(html.content, 'html.parser')
    movieName = []
    grossList = []
    n = 1 # Starting for while loop
    page_companydf = pd.DataFrame(columns= ['Title', 'Gross'])
    text = soup.find('div', class_= 'desc').find('span').text.split()[-2]
    number = int(text.replace(',', '')) # Search for the number of search titles
    print(number) # Print for confirmation
    while n < round(((number+50)/50)):
        movie_Dlist = soup.find('div', class_= 'lister-list')
        movieName = get_name(movie_Dlist)
        grossList = get_gross(movie_Dlist)
        
        df = pd.DataFrame([movieName, grossList]).transpose()
        df.columns = ['Title', 'Gross']
        page_companydf = page_companydf.append(df)
        
        if soup.find('div', class_= 'desc').find_all('a')[-1].text == 'Next »':
            search_criteria = soup.find('div', class_= 'desc').find_all('a')[-1]['href']
            
            n += 1
            actualURL = base_url + search_criteria
            html = requests.get(actualURL)
            soup = BeautifulSoup(html.content, 'html.parser')
            if (n % 10) == 0:
                print(actualURL)

            time.sleep(5)
        else:
            break
        page_companydf['Company'] = company
    return page_companydf

companyName = 'warner'
searchStr= '/search/title/?title_type=feature,tv_movie&release_date=1980-01-01,2020-07-01&companies=warner&start=1&ref_=adv_nxt'

warnerDB = scrape_imdb(searchStr, companyName)
# foxDB.shape
# sonyDB.shape
# dreamworksDB.shape
# mgmDB.shape
# paramountDB.shape

# universalDB.shape
# disneyDB.shape
# warnerDB.shape

https://www.imdb.com/search/title/?title_type=feature,tv_movie&release_date=1980-01-01,2020-07-01&companies=warner&start=1&ref_=adv_nxt
597
https://www.imdb.com/search/title/?title_type=feature,tv_movie&release_date=1980-01-01,2020-07-01&companies=warner&start=451

(597, 3)

In [452]:
def dataframe_difference(df1, df2):
    """Find rows which are different between two DataFrames."""
    
    comparison_df = df1.merge(df2,
                              indicator=False,
                              on = ['Gross', 'Title'],
                              how='outer')
    comparison_df['Company'] = comparison_df['Company_x'].str.cat(comparison_df['Company_y'], sep = ' ', na_rep = '')
    comparison_df.drop(columns=['Company_x', 'Company_y'], inplace=True)
    return comparison_df

 sony        2284
 Fox         1935
 Fox sony      65
               33
               28
  sony          1
Name: Company, dtype: int64

In [453]:
dbList = [foxDB, sonyDB, dreamworksDB, mgmDB, paramountDB, universalDB, disneyDB, warnerDB]
Combinedf_temp = pd.DataFrame(columns=['Company', 'Gross', 'Title'])
for db in dbList:
    print(db.head(1))
    Combinedf = dataframe_difference(Combinedf_temp, db)
    Combinedf_temp = Combinedf

  Company      Gross             Title
0     Fox  306169255  Independence Day
  Company      Gross                             Title
0    sony  142502728  Once Upon a Time... in Hollywood
      Company      Gross Title
0  dreamworks  159227644  1917
  Company     Gross                Title
0     mgm  41092328  Clash of the Titans
     Company     Gross     Title
0  paramount  92186262  The Town
     Company Gross              Title
0  universal  None  The Invisible Man
  Company      Gross      Title
0  disney  477373578  Frozen II
  Company Gross                      Title
0  warner  None  The King of Staten Island

AttributeError: 'Series' object has no attribute 'value_count'

In [484]:
Combinedf['Company']= Combinedf['Company'].str.strip()
Combinedf.loc[Combinedf.duplicated(subset=['Title'], keep=False)]
Combinedf.drop_duplicates(subset=['Title'], keep='last', inplace=True)

Empty DataFrame
Columns: [Gross, Title, Company]
Index: []

In [485]:
Combinedf.shape

(8013, 3)

Combine all the IMDB data set into one.

In [510]:
# imbd_join = imdbTitleBasics.merge(imdbTitleRatings, how='left', on='tconst')
imbd_join.shape

(320596, 7)

In [509]:
imdbTitleAkas['region'].value_counts()
# imdbTitleAkas[imdbTitleAkas['titleId']=='tt2250912']
imdbTitleAkasgroupbydb = imdbTitleAkas.groupby('titleId', as_index=False).agg({'region': 'count', 'language': 'count'})
imdbTitleAkasgroupbydb.loc[testdb['titleId']=='tt2250912']

          titleId  region  language
170354  tt2250912      44        44

In [511]:
imbd_major_join = imbd_join.merge(imdbTitleAkasgroupbydb, how='left', left_on='tconst', right_on='titleId')
print(imbd_major_join.shape)
imbd_major_join.head()

(320596, 10)

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,averageRating,numVotes,titleId,region,language
0,tt0015724,Dama de noche,Dama de noche,1993,102,6.2,20.0,tt0015724,4.0,4.0
1,tt0016906,Frivolinas,Frivolinas,2014,80,5.6,15.0,tt0016906,2.0,2.0
2,tt0035423,Kate & Leopold,Kate & Leopold,2001,118,6.4,77469.0,tt0035423,37.0,37.0
3,tt0036606,"Another Time, Another Place","Another Time, Another Place",1983,118,6.5,251.0,tt0036606,12.0,12.0
4,tt0038687,Let There Be Light,Let There Be Light,1980,58,7.4,1501.0,tt0038687,12.0,12.0

In [516]:
imbd_major_join.drop(columns='titleId', inplace=True)
imbd_major_join.astype({'numVotes':'int32','region':'int32','language':'int32'},errors='ignore').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320596 entries, 0 to 320595
Data columns (total 9 columns):
tconst            320596 non-null object
primaryTitle      320596 non-null object
originalTitle     320596 non-null object
startYear         320596 non-null int32
runtimeMinutes    320596 non-null object
averageRating     176967 non-null float64
numVotes          176967 non-null float64
region            301160 non-null float64
language          301160 non-null float64
dtypes: float64(4), int32(1), object(4)
memory usage: 23.2+ MB

In [524]:
# Final tables for use are
imbd_major_join.to_csv('imdb_master.csv', index=False)
imdbTitlePrincipals.to_csv('1980_movie_crew.csv', index=False) 
imdbTitleCrew.to_csv('1980_movie_crew_short.csv', index=False)
imdbNameBasics.to_csv('1980_crew.csv', index=False)